.footerSlice
  .flexRow
    .footerContainer
      h3 TeGo
      a Login
      a Servers
      a Gameplay
    .footerContainer
      h3 Contact Us
      a info@tegoesports.com
    .footerContainer
      h3 Connect With Us