.footerSlice
  .flexRow
    .footerContainer
      h3 
        a(href="/") TeGo
      a(href="/login") Login
      a(href="/servers-as-a-service") Servers
      a Gameplay
    .footerContainer
      h3 Contact Us
      a info@tegoesports.com
    .footerContainer
      h3 Connect With Us