link(rel='stylesheet', href='static/main.css')
link(href='https://fonts.googleapis.com/css?family=Raleway|Russo+One|Work+Sans', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
link(href='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Titillium+Web', rel='stylesheet')
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

