nav#navBar.smallSlice
    .menu
        ul
        a(href='#')
            li LINK ONE
        a(href='#')
            li LINK TWO
        a(href='#')
            li LINK THREE
        a(href='#')
            li LINK FOUR
        a(href='#')
            li LINK FIVE
    .flexRow
        button.hamburger.noselect ☰
        button.cross.noselect ˟
        a#navLogo.noselect(href='/') TeGo
        a.navBarItems(href='/team-members') Team Members
        a.navBarItems(href='/login') Login
        a.navBarItems(href='#') Contact