nav#navBar.smallSlice
        h3#alphaBanner Alpha Version 0.1
        img#clipped(src='static/images/greybannerimage.jpg')
        .menu
          ul
            a(href='#')
              li Team Members
            a(href='#')
              li Services
            a(href='#')
              li Statistics
            a(href='#')
              li Another Link
            a(href='#')
              li Logout
        .flexRow
          button.hamburger.noselect ☰
          button.cross.noselect ˟
          a#navLogo.noselect(data-aos='fade-right', href='/')
            img#tegoImg(src='static/images/TEGO_Logo.png')
          #navBarItemsContainer(data-aos='fade-left')
            a.navBarItems(href='#') Contact
            a.navBarItems(href='#') Login
            a.navBarItems(href='#') Store
            a.navBarItems(href='#') Team Members