/* Fonts */
@font-face{
    font-family: 'Sport Regular';
    src: url('fonts/SFSportsNight.ttf') format('truetype');
}
@font-face{
    font-family: 'TitilliumWeb-Black';
    src: url('fonts/TitilliumWeb-Black.ttf') format('truetype');
}
@font-face{
    font-family: 'TitilliumWeb-Bold';
    src: url('fonts/TitilliumWeb-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'TitilliumWeb-Regular';
    src: url('fonts/TitilliumWeb-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'TitilliumWeb-SemiBold';
    src: url('fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
}



/* Everyone */
*{
    font-family: 'raleway';
    text-decoration-line: none;
    color:white;
}

/* Body */
body {
    margin:0;
    padding:0;
    height: 2000px;
}


/* NavBar */
#navBar {
    background:transparent;
    opacity:.9;
    position: fixed;
    top: 0;
    z-index: 2000;
    transition-duration: .6s;
}
.navBarItems{
    font-family: 'TitilliumWeb-Bold';
    flex-basis: content;
    font-size: 13pt ;
    padding: 0 20px;
    line-height: 32px;
    border: 2px solid transparent;
    transition-duration: .6s;
    height:100%;
}
#teamMembers{
    flex-basis: content;
    font-size: .9em;
    padding: 0 20px;
    line-height: 32px;
    transition-duration: 1s;
    height:100%;
    border: 2px solid white;
}
#navBarItemsContainer{
    height:30px;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center
}
#navLogo{
    margin-right: auto;
    font-size:40px;
    font-family: 'Sport Regular';
    flex-basis: content;
    line-height: 70px;
        
}


/* Flex classes */
.flexRow{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 1132px;
}

/* Slices */
.smallSlice{
    height: 70px;
    width: 100%;
    display:flex;
    justify-content: center;
}
.mediumSlice{
    height:125px;
    width: 100%;
    display:flex;
    justify-content: center;
}
.largeSlice{
    min-height: 557px;
    height: auto;
    width: 100%;
    display:flex;
    justify-content: center;
    
    
}
.xLargeSlice{
    height:700px;
    width: 100%;
    display:flex;
    justify-content: center;
}
.xxLargeSlice{
    height:800px;
    width: 100%; 
}

/* Main image on home page */
.mainImageSlice{
    /* Image the entire slice  */
    background: url('../static/images/Header_Image.jpg');
    background-position: center;
    background-size:cover;
}

/* Slice Colors */
.grey{
    background-color: #171c25;
}
.blue{
    background-color:#040C1A;
}
.purple{
    background-color: #832572;
}


/* Tego Button */
.serviceContainer{
    height: 500px;
    width: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.serviceContainer h3{
    font-family: 'TitilliumWeb-Black';
    font-size: 30pt;
    margin:0;
    text-align: center;
    width: 70%;
    line-height: 30pt;
}
.serviceContainer p{
    font-family: 'TitilliumWeb-SemiBold';
    text-align: center;
    margin:0;
    padding:0 10px;
    
}
.tegoButton{
    width:170px;
    height:170px;
    transition:.4s;
    background:transparent;
    border-radius: 170px;
    border: 6px solid white;
}
.tegoButtonContent{
    font-size: 1.5em;
    display:block;
    position:relative;
    bottom: 60%;
    text-align: center;
    opacity: 0;
    transition-duration: .4s;
    cursor: pointer;   
}
#serverImage{
    background-image: url("images/Server_Logo.svg");
    background-repeat: no-repeat;
    position:relative;
    top:15px;
    height: 140px;
    width: 100%;
    background-position: 50%;
    display: block;
}
#discordImage {
    display:block;
    background-image: url("images/Discord-Logo-White.svg");
    background-repeat: no-repeat;
    position:relative;
    top:15px;
    transition-duration: .4s;
    height:140px;
    width: 100%;
    background-position: 50%;
}
#twitchImage {
    display:block;
    background-image: url("images/Glitch_White_RGB.svg");
    background-repeat: no-repeat;
    width:100%;
    height:120px;
    background-position: 50% ;
    position:relative;
    top:28px;
}
#twitterImage {
    flex:1;
    display:block;
    height:100%;
    background-image: url("images/Twitter_Logo_Blue.svg");
    background-repeat: no-repeat;
    background-position: 50% 17px;
    transition-duration: .4s;
    background-size: 340px ;
}
#statsImage {
    flex:1;
    display:block;
    height:100%;
    background-image: url("images/bars-chart.svg");
    background-repeat: no-repeat;
    background-position: 50% 17px;
    transition-duration: .4s;
    background-size: 300px ;
}


/* Video CSS */
#videoContainer {
    z-index: 1;
    max-height: 750px;
    overflow: hidden;
}
#video-background{
    width:100%;
    overflow: hidden;
    mix-blend-mode: overlay;
}
.videoOverlay{
    position: absolute;
    display:flex;
    flex-direction:column;
    top:0;
    height: 100%;
    width:100%;
    z-index: 2;
    background-color: rgba(64,35,101,1);
    background-blend-mode: multiply;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.videoCSS{
    position:relative;
    width:100%;
    display: inline-block;       
}
#videoOverlayContentContainer {
    border: 3px solid #171C25;
}
.videoOverlayText {
    margin:0;
    font-size: 3em;
    color:white;
    font-family: "work sans";
    width:500px;
    line-height: 100px;
    transition-duration: .6s;
}

.videoOverlayText:hover, #gameplayLink{
    background-color:#020917;
}





/* Hover */
.navBarItems:hover{
    transition-property: border;
    border: 2px solid white;
}
.navBarItems:hover ~ #teamMembers{
    border:2px solid transparent;
}
.tegoButton:hover{
    transform: scale(1.2);
}
.tegoButton:hover .tegoButtonContent{
    opacity: 1;
}
/*
.tegoButton:hover .tegoButtonImage{
    opacity: .1;
}
*/

/* Misc. */

#landingImage {
    background: linear-gradient(to top, #020917, transparent ), url('background.png');
}

#services {
    border-left:5px solid #556271;
    margin-right:auto;
    margin-top:0;
    margin-bottom: 0;
    font-size: 1.9em;
    height: 1.9em;
    line-height: 60px;
}
#statsParagraph {
    width:700px;
    text-align: center;
    padding:28px;
}
#statsParagraph >p{
    text-align: center;
    font-size: 1.5em;
}
.margin-bottom{
    margin-bottom: 25px;
}
footer{
    background-color:#040C1A;
    color:white;
    margin:auto;
    width:65%;
    text-align:center;
    margin-bottom:2%;
}

#footerLine{
    width: 65%;
}


#clipped{
    z-index: 99999;
    position:absolute;
    top:70;
    right:0;
    -webkit-clip-path: polygon(50% 0, 100% 50%, 100% 75%, 25% 0);
    clip-path: polygon(50% 0, 100% 50%, 100% 75%, 25% 0);    
}

#alphaBanner{

    z-index: 999999;
    position:absolute;
    top:98;
    right:8;

    /* Safari */  
    -webkit-transform: rotate(32deg);
    /* Firefox */
    -moz-transform: rotate(32deg);
    /* IE */
    -ms-transform: rotate(32deg);
    /* Opera */
    -o-transform: rotate(32deg);
}

/*You are now entering the Hamburger Zone*/
.hamburger{
    background:none;
    position:absolute;
    top:5;
    left:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:white;
    border:0;
    font-size:2em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
    visibility:hidden;
 
  }
  .cross{
    background:none;
    position:absolute;
    top:5;
    left:0;
    padding:7px 15px 0px 15px;
    color:white;
    border:0;
    font-size:3.8em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#171C25;  position:absolute; text-align:center; font-size:12px; top:70; left:0;}
  .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
  .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
  .menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid; color: #171C25;}
  .menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
  .menu ul li a:hover {  color: #666; text-decoration:none;}
  .menu a{text-decoration:none; color:#666;}
  .menu a:hover{text-decoration:none; color:#666;}
  span{padding-left:20px;}

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }



  /* MEDIA QUERIES: */
/* For smaller screens: */
@media only screen and (max-width: 1139px) {
    
    #navLogo, #services{
        margin-left:10%;
    }
}

/* For mobile screens: */
@media only screen and (max-width: 839px) {

    .navBarItems{
        display:none;
    }

    #navlogo{
        position:absolute;
        top:0;
        right:5%;
    }

    .hamburger{
        visibility: visible;
    }

    #tegoButtonRow, #statsRow{
        width: 600px;
    }
}

@media only screen and (min-width: 839px) {
.menu, .cross{
    visibility: hidden;
}
}

#tegoImg {
    transition-duration: .6s;
    position: absolute;
    top:-30px;
    width:100px;
    height:100px;
}

#loginDiv {
    width:270px;
    height: 290;
    background-color: #FFFFFF;
    border-radius: 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 25px black;
}
#loginDiv form, #loginDiv p{
    width:80%;
    margin:0;
}
#loginDiv p, #loginDiv a{
    font-family:'TitilliumWeb-SemiBold';
    line-height: 12pt;
    color:#402365;
    font-size: 13px;
    text-align: center;
}
#loginDiv #notAMember{
    position:relative;
    top:-12px;
}
#loginDiv strong{
    font-family:'TitilliumWeb-Bold';
    color:#402365;
}
#loginDiv input, #loginDiv label {
    font-family:'TitilliumWeb-Bold';
    color:#402365;
    font-weight: 600;
    font-size: 14px;
}

#loginDiv input{
    font-family:'TitilliumWeb-SemiBold';
    display: block;
    width: 100%;
    height:27px;
    background-color: #e5e5e5;
    border:none;
    border-radius: 15px;
    outline:0;
    margin-bottom: 10px;
    text-indent: 10px;
}
#loginDiv input[type=button]{
    font-family:'TitilliumWeb-Black';
    background-color:#402365;
    border:none;
    height:40px;
    border-radius: 20px;
    color:#ffffff;
    text-indent: 0;
    font-size: 16pt;
    letter-spacing: 1px;
    cursor:pointer;
    transition-duration: .6s;
}
#loginDiv input[type=button]:hover{
    background-color:#832572;
}
#headerParagraph{
    width:550px;
}
#headerParagraph p{
    font-family:  'TitilliumWeb-SemiBold';
    line-height: 28px;
    font-size: 25px;
    text-align: left;
    margin: 10;
}
#weAreDiv{
    display: flex;
    flex-direction: row;
    font-size: 30;
    text-align: right;
}
#weAreDiv h1, .wrap{
    font-family: 'TitilliumWeb-Black';
    margin:0;
    padding-right:20px;
}
.wrap{
    padding:0;
    margin:0;
}
.typewrite{
    border-bottom: 4px solid white;
}