extends layout
block headLinks
  include includes/indexHead.pug
block content
    .largeSlice
        .flexRow
            p
                |There was an error 
            p= message
            p= errorStatus