html
  head
    title TeGo eSports
    block headLinks
    link(rel='icon', href='static/images/TEGO_Logo_Purple.png')
    script(src='static/jquery-3.2.1.js')
    script(src='static/scripts.js')
    script(src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js')
    script.
      $(function() {
      AOS.init();
      });
      $(window).on('load', function() {
      AOS.refresh();
      });
  body.grey
    div
      include includes/navbar.pug
      block content
      include includes/footer.pug
