extends layout.pug
block headLinks
  include includes/indexHead.pug
block content
    div(style='width: 100%;display:flex;justify-content:center;')
        div(style='height:500px;')
            .flexRow(style='height:100%;')
                div
                    h1(style='display:block;') How To
                    p Use the provided credentials to log in. Once logged in, you should be taken to the servers page. Here you can see a list of your current servers
                        | and they're status. You can click the expand button to change the status of your servers or delete them. If you want to create a new server,
                        | click the the pls on the right side. From here you can select the image (currently just minecraft) then give it an optional name.

    div(style='width: 100%;display:flex;justify-content: center;')
        div(style='height:500px;')
            .flexRow(style='height:100%;')
                div
                    h1(style='display:block;') Demo
                    p "Videos Demonstration here"
                    iframe(width='854', height='480', src='https://www.youtube.com/embed/YZC4iHVmVuQ', frameborder='0', gesture='media', allow='encrypted-media', allowfullscreen='true' 
                    style="width:600px; height:280px;")
