extends layout.pug
block headLinks
  include includes/indexHead.pug
block content
    div(style='width: 100%;display:flex;justify-content:center;')
        div(style='height:500px;')
            .flexRow(style='height:100%;')
                div
                    h1(style='display:block;') How To
                    p "Instruction for the how will go here."

    div(style='width: 100%;display:flex;justify-content: center;')
        div(style='height:500px;')
            .flexRow(style='height:100%;')
                div
                    h1(style='display:block;') Demo
                    p "Videos and images demontrating the service will go here."