
*{
    font-family: 'Open Sans';
}
.srv_nav {
    height:100%;
    width:100px;
    float: left;
    background-color: #135FAC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.srv_nav_items:first-child{
    margin-top:30px;
    display: block
}
#title{
    margin: 40 0;
    
}
#title h1{
    display: inline;
    font-size:18pt;
}

body {
    margin:0;
    
    
}

.srv_nav_items {
    width:70px;
    height:70px;
    margin:15 0px;
    text-decoration: none;
    color:white;
    text-align: center;

    
    
}

#src_content_area {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#srv_content_title {
    width:80%;
}

.srv_content_flexRow {
    width:80%;
    align-items: flex-start;
    justify-content: center;
    height:50px;
}

#srv_optionHeaders {
    
}

.srv_optionHeader_items {
    display: inline-block;
    height:30px;
    min-width:50px;
    color: #9E9E9E;
    padding: 0 10px;
    margin:0;
}
.srv_optionHeader_items:first-child{
    padding-left: 0;
}



.srv_content_header {
    width:100%;
    border-bottom: 1px solid  #BDBDBD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 40px
    
    
}

#srv_server_img {
    width:40px;
    margin: auto;
    display: block;
}

#srv_TegoLogo {
    width:70px;
}

#srv_container_images {
    width:45px;
}

#srv_new {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #1d81d9;
    display:inline-block;
    float:right;
    position: relative;
    top: 20px;
    box-shadow: 3px 3px 15px grey;
    text-align: center;
}
#srv_new > a{
    display: block;
    width:100%;
    height:100%;
    margin:0;
}

#srv_add {
    width:30px;
    height:30px;
    position:relative;
    top:10px
    
}

.srv_content_table_container {
    margin: 50px 0;
    
}

#srv_content_table {
    width:100%;
    border-collapse: collapse;
    text-align: left;
    color: #9E9E9E;
}
.srv_server_row{
    border-bottom: 1px solid #9E9E9E;
    height:45px;
}
td:last-child{
    text-align: center;
}

#srv_image_picture {
    width:30px;
    height:30px;
}

#srv_status_circle {
    width:12px;
    height:12px;
    border-radius: 6px;
    display: inline-block;
}
.green{
    background-color:green;
}
.spangreen{
    color:green;
}
.red{
    background-color: red;
}
.spanred{
    color:red;
}
.orange{
    background-color:orange;
}
.blue{
    background-color:blueviolet;
}

#dots {
    width:30px;
    height:30px;
    display: inline;
}

.srv_dropdown_options {
    overflow: hidden;
    display: block;
    height:300px;
}
.srv_dropdown_options td{
    height:100%;
    display: block;
}
.srv_dropdown_options td div{
    width:100%;
    height:100%;
}

.srv_table_header_flexRow {
    display: flex;
    height:45px;
    width:100%;
    align-items: flex-start;
    font-size: 10pt;
    border-bottom: 1px solid #9E9E9E;
    align-items: center;
    
}

.flex4 {
    flex:4;
}

.flex2 {
    flex:2;
}

.flex3 {
    flex:3;
}

.flex1 {
    flex:1;
}
.srv_option_row_flexRow {
    display: flex;
    height:45px;
    width:100%;
    align-items: flex-start;
    font-size: 10pt;
    border-bottom: 1px solid #9E9E9E;
    align-items: center;
}

.srv_option_row_item {
    display:inline-block;
    color: #9E9E9E;
    font-size: 12pt;
    padding: 0 10px;
    
}
.srv_option_row_item:first-child {
    padding-left: 0;
    
}

.flex6 {
    flex:6
}

.srv_option_row_dropdown {
    display: none;
    width:100%;
    
}

#srv_dropdown_status_row {
    margin: 20px;
    height: 40px;
}
#srv_dropdown_status_row h3{
    display: inline;
    margin:0;
    padding-right:10px;
    color:#9E9E9E;
    font-size: 12pt;
}
#srv_dropdown_status_row a{
    padding: 0 10px;
    text-decoration: none;
    display: inline-block;
    height:30px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    color:white;
    font-size: 11pt;
}

.srv_drop_StatusImage {
    width:20px;
    height:20px;
    position: relative;
    top:4px;
    padding-right: 5px;
}

#srv_create_new {
    display: none;
    position: absolute;
    top:100px;
    right:0;
    width:300px;
    height:75%;
    background-color: #135FAC;
    border-radius: 10px;
    
}

#srv_create_new_content {
    display:flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    
}

#srv_create_next {
    height:30px;
    width:30px;
    display: inline;
    margin:20px;
    
}

#srv_create_button {
    display: block;
    border-radius: 20px;
    width:100px;
    height: 45;
    position: relative;
    top: 210px;
    margin: auto;
    background-color: #1d81d9;
    color:white;
}

#srv_create_instructions {
    width: 240px;
    display: block;
    color:white;
    align-self: center;
    text-align: left;
    font-size: 11pt;
}

#srv_create_header {
    display: block;
    margin: 0 20;
    width: 230px;
    color:white;
    align-self: center;
}
#srv_create_form{
    display: block;
    width:260px;
    height:400px;
    align-self: center;
}
#srv_create_form select, #srv_create_form input{
    display:block;
    width:160px;
    height:30px;
    border-radius: 5px;
    font-family: 'Open Sans';
}
#srv_create_form label{
    display: block;
    color:white;
    font-size: 14pt;
    margin: 10px 0;
}
